@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  --popup-shadow: rgb(99, 99, 99, 0.41);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
